* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Maven Pro", sans-serif;
}

/* FLOATING HEADER */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #f1eded;
}

a:hover {
  color: rgb(132, 240, 240);
}

#menu {
  position: absolute;
  top: 0;
  left: 150vw;
  height: 100vh;
  width: 80vw;
  background-color: rgb(0.06, 0.81, 0, 0.98);
  z-index: 5;
  transition: left .3s cubic-bezier(0.06, 0.81, 0, 0.98);
}

#menu-toggle,
#menu-x {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 2em;
}

#menu ul {
  list-style-type: none;
  padding-top: 80px;
}

#menu a:not(#menu-x) {
  text-align: left;
  display: block;
  padding: 20px;
  border-bottom: 2px solid rgb(0.06, 0.81, 0, 0.98);
  font-size: 1.1em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #181818;
}

#menu:target {
  left: 20vw;
}

#menu:target + #backdrop {
  position: absolute;
  display: block;
  cursor: default;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
}

.container {
  position: relative;
  margin-top: 80px;
}

/* 
  Anchor to offset fixed header:
  Adapted code from https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
*/
a.anchor {
  position: relative;
  top: -80px;
  visibility: hidden;
}

section {
  position: relative;
  height: 500px;
  padding: 20px;
}

/* ABOUT ME SECTION */

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  max-height: 80%;
  max-width: 80%;
  align-self: center;
}

#start-button {
  height: 60px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(132, 240, 240);
  border: 3px white dotted;
}

#start-button:hover {
  cursor: pointer;
  background-color: rgb(169, 255, 255);
}

.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

/* UPDATES SECTION */
#updates {
  height:220px;
}

#updates-title {
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 20px;
}

#grid-background {
  opacity:0.1;
}

.scrolling-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 100px;
  background-color: #fafafa;
  border: solid 1px rgb(216, 216, 216);
  margin-right: 20px;
}

.card-icon {
  flex: 1 0 33%;
  padding: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-text p {
  text-align: left;
  margin: 2px;
}

.card-category {
  text-transform: uppercase;
  color: #c2c2c2;
  font-size: 0.7em;
  letter-spacing: 2px;
}

.card-headline {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9em;
}

.card-description {
  font-size: 0.8em
}

/* SOCIAL MEDIA SECTION */

#links {
  height: 600px;
}

.preface-text {
  font-style: italic;
}

.emphasized-text {
  font-size: 2em;
  font-style: italic;
  font-weight: 900;
}

#links,
.social-blurb {
  background-color: #fafafa;
}

#tabs {
  height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
}

.tab {
  flex-grow: 1;
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.tab p.title {
  margin-top: 30px;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.tab p.description {
  color: black;
  text-transform: capitalize;
  font-size: 1.1em;
}

.tab [type="radio"]:checked ~ .social-blurb {
  z-index: 1;
}

.tab label,
.social-blurb {
  color: rgb(204, 204, 204);
}

.tab [type="radio"]:checked ~ label,
.tab label:hover {
  color: black;
  cursor: pointer;
}

.social-blurb {
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.social-image {
  max-width: 400px;
  width: 70vw;
  border-radius: 50%;
}

.social-blurb > * {
  opacity: 0;
  transition: opacity 2s ease;
}

.tab [type="radio"]:checked ~ .social-blurb > * {
  opacity: 1;
}

/* Carousel Section */

#projects {
  padding: 0px;
  background-color: #a55318;
}

#carousel {
  height: 500px;
  overflow: hidden;
  position: relative;
}

#carousel img {
 width: 100%;
 height: 100%;
}

.carousel-text {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 1px;
  height: 70px;
  width: 170px;
  background-color: cyan;
  padding: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  right: 0;
  top: 200px;
}

/* #carousel [type="radio"]:not(:checked) + .carousel-item > * {
  opacity: 0;
}

#carousel [type="radio"]:checked + .carousel-item > * {
  opacity: 1;
  transition: opacity .5s ease;
} */

.carousel-item label {
  position: absolute;
  top: 100px;
  left: 40vw;
  width: 0px;
  height: 0px;
}

/* #carousel [type="radio"]:checked {
  left: calc(50%-10vw);

} */


#carousel [type="radio"]:checked + .carousel-item .left {
  z-index: 1;
  left: 10vw;
  width: 20vw;
  height: 20vw;
  border: cyan solid 2px;
}

#carousel [type="radio"]:checked + .carousel-item .middle {
  z-index: 1;
  left: 35vw;
  width: 30vw;
  height: 30vw;
  border: cyan solid 3px;
  transition: all 1s ease;
}

#carousel [type="radio"]:checked + .carousel-item .right {
  z-index: 1;
  left: 70vw;
  width: 20vw;
  height: 20vw;
  border: cyan solid 2px;
}


/* TODO: Desktop version */
@media only screen and (max-width: 600px) {
  
}
