* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Maven Pro", sans-serif;
}

/* Floating header */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 3;
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #f1eded;
}

a:hover {
  color: cyan;
}

#menu {
  width: 100%;
  align-self: center;
}

#menu ul {
  list-style-type: none;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
}

#menu-toggle,
#menu-x {
  display: none;
  
}

/* Main body underneath the header */
.container {
  position: relative;
  margin-top: 80px;
}

/* 
  Anchor to offset fixed header:
  Adapted code from https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
*/
a.anchor {
  position: relative;
  visibility: hidden;
  top: -80px;
}

section {
  position: relative;
}

/* About me section */

#about-me {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  max-height: 80%;
  max-width: 80%;
  align-self: center;
}

#start-button {
  height: 60px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  background-color: cyan;
  border: 3px white dotted;
  font-size: 1em;
}

#start-button:hover {
  cursor: pointer;
  background-color: rgb(137, 255, 255);
}

.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
}

/* UPDATES SECTION */
#updates {
  height: 220px;
  padding: 20px;
}

#updates-title {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 20px;
}

#grid-background {
  opacity: 0.05;
}

.scrolling-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card {
  display: flex;
  flex-direction: row;
  width: 30vw;
  min-width: 250px;
  height: 110px;
  background-color: #fafafa;
  border: solid 1px rgb(216, 216, 216);
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card-icon {
  padding: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-text p {
  text-align: left;
  margin: 2px;
}

.card-category {
  text-transform: uppercase;
  color: #c2c2c2;
  font-size: 0.7em;
  letter-spacing: 2px;
}

.card-headline {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9em;
}

.card-description {
  font-size: 0.8em;
}

/* SOCIAL MEDIA SECTION */

#links {
  height: 800px;
  background-color: rgb(250, 250, 250);
}

.preface-text {
  padding-top: 30px;
  font-size: 1em;
  font-style: italic;
}

.emphasized-text {
  font-size: 2em;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}

#tabs {
  margin: 5vw;
  font-size: 1.5em;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid gray 1px;
  border-left: solid gray 1px;
}

.tab {
  flex-grow: 1;
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 50px;
}

.tab p.title {
  margin-top: 30px;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.tab p.description {
  color: black;
  text-transform: capitalize;
  font-size: 1.1em;
}

.tab [type="radio"]:checked ~ .social-blurb {
  z-index: 1;
}

.tab label,
.social-blurb {
  color: rgb(204, 204, 204);
}

.tab [type="radio"]:checked ~ label,
.tab label:hover {
  color: black;
  cursor: pointer;
}

.social-blurb {
  position: absolute;
  top: 150px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.social-image {
  justify-self: center;
  max-width: 400px;
  width: 50vw;
  border-radius: 50%;
}

.social-blurb > * {
  opacity: 0;
  transition: opacity 1s ease;
}

.tab [type="radio"]:checked ~ .social-blurb > * {
  opacity: 1;
}

/* CAROUSEL SECTION */

#projects {
  height: 700px;
  background: rgb(0, 0, 0);
  --slider-main-width: 130px;
  --slider-sub-width: 100px;
  --label-position-from-top: 50%;
  --label-margin: calc(50vw - 3*var(--slider-main-width)/2 + 5px);
}

#carousel {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slider img {
  width: 100%;
  height: 100%;
  z-index: 1;
  border: white solid 2px;
}

.carousel-text {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  height: 70px;
  width: 170px;
  background-color: cyan;
  padding: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: calc(var(--label-position-from-top) + 150px);
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#carousel
  [type="radio"]:nth-of-type(1):checked
  ~ .carousel-text:nth-of-type(1) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(2):checked
  ~ .carousel-text:nth-of-type(2) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(3):checked
  ~ .carousel-text:nth-of-type(3) {
  opacity: 1;
}

#carousel [type="radio"]:not(:checked) + .carousel-item {
  display: none;
}

#carousel [type="radio"]:checked + .carousel-item {
  position: absolute;
  top: var(--label-position-from-top);
  left: 0;
  width: 100%;
  height: var(--slider-main-width);
}

.carousel-item label {
  position: absolute;
  top: 0px;
  height: var(--slider-sub-width);
  width: var(--slider-sub-width);
  z-index: 1;
}

label.left {
  left: var(--label-margin);
}

label.right {
  right: var(--label-margin);
}

.carousel-slider {
  position: absolute;
  top: var(--label-position-from-top);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: var(--slider-main-width);
  height: var(--slider-main-width);
  font-size: 2em;
  overflow: visible;
}

.carousel-slider .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
  height: 130px;
}

.slider-item > * {
  max-height: var(--slider-sub-width);
  max-width: var(--slider-sub-width);
  transition: all ease 1s;
}

.carousel-slider .slider-item:nth-of-type(1) {
  transform: translateX(-100%);
}

.carousel-slider .slider-item:nth-of-type(2) {
  transform: translateX(0%);
}

.carousel-slider .slider-item:nth-of-type(3) {
  transform: translateX(100%);
}

#carousel [type="radio"]:nth-of-type(1):checked ~ .carousel-slider {
  transform: translateX(100%);
}

#carousel
  [type="radio"]:nth-of-type(1):checked
  ~ .carousel-slider
  .slider-item:nth-child(1)
  > img {
  max-width: var(--slider-main-width);
  max-height: var(--slider-main-width);
  border: cyan solid 2px;
}

#carousel [type="radio"]:nth-of-type(2):checked ~ .carousel-slider {
  transform: translateX(0%);
}

#carousel
  [type="radio"]:nth-of-type(2):checked
  ~ .carousel-slider
  .slider-item:nth-child(2)
  > img {
  max-width: var(--slider-main-width);
  max-height: var(--slider-main-width);
  border: cyan solid 2px;
}

#carousel [type="radio"]:nth-of-type(3):checked ~ .carousel-slider {
  transform: translateX(-100%);
}

#carousel
  [type="radio"]:nth-of-type(3):checked
  ~ .carousel-slider
  .slider-item:nth-child(3)
  > img {
  max-width: var(--slider-main-width);
  max-height: var(--slider-main-width);
  border: cyan solid 2px;
}

.carousel-slider {
  transition: transform 1s ease 0s;
}

.main-carousel-image {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: solid cyan 3px;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#carousel
  [type="radio"]:nth-of-type(1):checked
  ~ .main-carousel-image:nth-of-type(1) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(2):checked
  ~ .main-carousel-image:nth-of-type(2) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(3):checked
  ~ .main-carousel-image:nth-of-type(3) {
  opacity: 1;
}

.carousel-subheading {
  position: absolute;
  top: calc(var(--label-position-from-top) + 250px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  opacity: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

#carousel
  [type="radio"]:nth-of-type(1):checked
  ~ #subheadings
  .carousel-subheading:nth-child(1) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(2):checked
  ~ #subheadings
  .carousel-subheading:nth-child(2) {
  opacity: 1;
}

#carousel
  [type="radio"]:nth-of-type(3):checked
  ~ #subheadings
  .carousel-subheading:nth-child(3) {
  opacity: 1;
}

/* Guestbook section */
#guestbook {
  height: 400px;
  padding-top: 150px;
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
}
#guestbook i {
  color: rgb(255, 166, 236);
}

footer {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  color: white;
  padding: 10px;
  font-size: 1.5em;
}

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {
  /* Hamburger menu */
  #menu-toggle,
  #menu-x {
    display: block;
    position: absolute;
    top: 22px;
    right: 25px;
    font-size: 2em;
  }

  #menu a:not(#menu-x) {
    text-align: left;
    display: block;
    padding: 20px;
    border-bottom: 2px solid rgb(0.06, 0.81, 0, 0.98);
    font-size: 1.1em;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #181818;
  }

  #menu:target {
    left: 20vw;
  }

  #menu:target + #backdrop {
    position: absolute;
    display: block;
    cursor: default;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
  }

  #menu {
    position: absolute;
    top: 0;
    left: 150vw;
    height: 100vh;
    width: 80vw;
    background-color: rgb(0.06, 0.81, 0, 0.98);
    z-index: 5;
    transition: left 1s cubic-bezier(0.06, 0.81, 0, 0.98);
  }

  #menu ul {
    display: block; 
    padding-top: 80px;
  }

  #about-me {
    height: 450px;
  }

  .card {
    width: 240px;
  }

  /* Links section */
  #links {
    height: 550px;
  }
  #tabs {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    border-right: none;
    border-left: none;
    font-size: 1em;
    margin: 0px;
  }

  /* Carousel section */
  #projects {
    height: 600px;
  }
}
